{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}| Django
    </title>
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" type="text/css">
</head>
<body>
    <header>
        <div id="logotipo">
            <img src="{% static "img/django.png" %}" alt="Imagen Django" title="Django">
            <h1>Django Proyecto Web</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url "inicio" %}">Inicio</a></li>
            <li><a href="{% url "sobre nosotros"%}">Acerca de</a></li>
            <li><a href="{% url "mision" %}">Mision</a></li>
            <li><a href="{% url "vision" %}">Vision</a></li>

        </ul>
    </nav>
    <section id="content">
       <div class="box">
        {% block content %}{% endblock content %}
       </div>
    </section>
    <footer>
        <p>Django con MariWeb &copy; 2024 | Visitado el: 01/10/24</p>
    </footer>
</body>
</html>