<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo sentimos, página no encontrada</title>
</head>
<body>
    <script>
        // Muestra una alerta emergente
        alert('La ruta que intentaste acceder no se encontró. Serás redirigido a la página de inicio.');
        
        // Redirige a la página de inicio después de cerrar la alerta
        setTimeout(function() {
            window.location.href = "{% url 'inicio' %}";
        }, 1000); // 1000 milisegundos = 1 segundo
    </script>

    <h1>Página no encontrada</h1>
    <p>La página que estás buscando no existe. Serás redirigido en breve a la página de inicio.</p>
</body>
</html>