{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
<p>Ser una universidad líder en educación tecnológica reconocida a nivel nacional e internacional por la excelencia de sus programas educativos, innovación en investigación aplicada y contribución al progreso económico y social, formando egresados comprometidos con su entorno y capaces de adaptarse a los cambios en un mundo globalizado.
</p>
{% endblock content %}